<dy-card size="medium">
  <div class="picture" style.background-image="url('assets/images/kitten-{{currentTheme}}.png')"></div>

  <div class="details">
    <div class="h4">UI 小猫</div>
    <div class="description">
      uikitten是一个框架，它包含一组以类似方式设计的常用UI组件。最
    </div>
  </div>

  <dy-card-footer>
    <a href="https://hubs.ly/H0n50Gg0" target="_blank">
      <dy-icon icon="globe" pack="eva"></dy-icon>
    </a>
    <a href="https://itunes.apple.com/us/app/kitten-tricks/id1246143230" target="_blank">
      <i class="link-icon ion-social-apple"></i>
    </a>
    <a href="https://play.google.com/store/apps/details?id=com.akveo.kittenTricks" target="_blank">
      <i class="link-icon ion-social-android"></i>
    </a>
    <a href="https://github.com/akveo/react-native-ui-kitten" target="_blank">
      <dy-icon icon="github" pack="eva"></dy-icon>
    </a>
  </dy-card-footer>
</dy-card>
