<div class="row">
  <div class="col-md-6">
    <dy-card>
      <dy-card-header>
        旋转搜索
      </dy-card-header>
      <dy-card-body>
        <dy-search matRipple [matRippleUnbounded]="true" [matRippleCentered]="true" [matRippleRadius]="36"
          type="rotate-layout" tag="rotate-layout"></dy-search>
      </dy-card-body>
    </dy-card>
  </div>
  <div class="col-md-6">
    <dy-card>
      <dy-card-header>
        放大搜索
      </dy-card-header>
      <dy-card-body>
        <dy-search matRipple [matRippleUnbounded]="true" [matRippleCentered]="true" [matRippleRadius]="36"
          type="modal-zoomin" tag="modal-zoomin"></dy-search>
      </dy-card-body>
    </dy-card>
  </div>
  <div class="col-md-6">
    <dy-card>
      <dy-card-header>
        淡入淡出效果
      </dy-card-header>
      <dy-card-body>
        <dy-search matRipple [matRippleUnbounded]="true" [matRippleCentered]="true" [matRippleRadius]="36"
          type="modal-move" tag="modal-move"></dy-search>
      </dy-card-body>
    </dy-card>
  </div>
  <div class="col-md-6">
    <dy-card>
      <dy-card-header>
        清空再搜
      </dy-card-header>
      <dy-card-body>
        <dy-search matRipple [matRippleUnbounded]="true" [matRippleCentered]="true" [matRippleRadius]="36"
          type="modal-drop" tag="modal-drop"></dy-search>
      </dy-card-body>
    </dy-card>
  </div>
  <div class="col-md-6">
    <dy-card>
      <dy-card-header>
        显示一半搜索
      </dy-card-header>
      <dy-card-body>
        <dy-search matRipple [matRippleUnbounded]="true" [matRippleCentered]="true" [matRippleRadius]="36"
          type="modal-half" tag="modal-half"></dy-search>
      </dy-card-body>
    </dy-card>
  </div>
  <div class="col-md-6">
    <dy-card>
      <dy-card-header>
        全景窗帘效果
      </dy-card-header>
      <dy-card-body>
        <dy-search matRipple [matRippleUnbounded]="true" [matRippleCentered]="true" [matRippleRadius]="36"
          type="curtain" tag="curtain"></dy-search>
      </dy-card-body>
    </dy-card>
  </div>
  <div class="col-md-6">
    <dy-card>
      <dy-card-header>
        半叶窗帘效果
      </dy-card-header>
      <dy-card-body>
        <dy-search matRipple [matRippleUnbounded]="true" [matRippleCentered]="true" [matRippleRadius]="36"
          type="column-curtain" tag="column-curtain"></dy-search>
      </dy-card-body>
    </dy-card>
  </div>
</div>
