<dy-card [dySpinner]="true" dySpinnerStatus="primary">
  <dy-card-body>
    Some card content.
  </dy-card-body>
</dy-card>

<dy-card [dySpinner]="true" dySpinnerStatus="success">
  <dy-card-body>
    Some card content.
  </dy-card-body>
</dy-card>

<dy-card [dySpinner]="true" dySpinnerStatus="info">
  <dy-card-body>
    Some card content.
  </dy-card-body>
</dy-card>

<dy-card [dySpinner]="true" dySpinnerStatus="warning">
  <dy-card-body>
    Some card content.
  </dy-card-body>
</dy-card>

<dy-card [dySpinner]="true" dySpinnerStatus="danger">
  <dy-card-body>
    Some card content.
  </dy-card-body>
</dy-card>
