@import "../../../../@theme/styles/themes";

@include dy-install-component() {
  dy-card-body {
    padding: 0;
  }

  ::ng-deep agm-map {
    width: 100%;
    height: dy-theme(card-height-large);
  }
}
