<div class="row">
  <div class="col-md-12 col-lg-4 col-xxxl-4">
    <dy-card>
      <dy-card-header>Colored Alert</dy-card-header>
      <dy-card-body>
        <dy-alert status="primary">You have been successfully authenticated!</dy-alert>
        <dy-alert status="success">You have been successfully authenticated!</dy-alert>
        <dy-alert status="info">You have been successfully authenticated!</dy-alert>
        <dy-alert status="warning">You have been successfully authenticated!</dy-alert>
        <dy-alert status="danger">You have been successfully authenticated!</dy-alert>
      </dy-card-body>
    </dy-card>
  </div>

  <div class="col-md-12 col-lg-4 col-xxxl-4">
    <dy-card>
      <dy-card-header>Outline Alert</dy-card-header>
      <dy-card-body>
        <dy-alert outline="primary">You have been successfully authenticated!</dy-alert>
        <dy-alert outline="success">You have been successfully authenticated!</dy-alert>
        <dy-alert outline="info">You have been successfully authenticated!</dy-alert>
        <dy-alert outline="warning">You have been successfully authenticated!</dy-alert>
        <dy-alert outline="danger">You have been successfully authenticated!</dy-alert>
      </dy-card-body>
    </dy-card>
  </div>

  <div class="col-md-12 col-lg-4 col-xxxl-4">
    <dy-card>
      <dy-card-header>Accent Alert</dy-card-header>
      <dy-card-body>
        <dy-alert status="primary" accent="info">You have been successfully authenticated!</dy-alert>
        <dy-alert status="success" accent="danger">You have been successfully authenticated!</dy-alert>
        <dy-alert status="info" accent="warning">You have been successfully authenticated!</dy-alert>
        <dy-alert status="warning" accent="danger">You have been successfully authenticated!</dy-alert>
        <dy-alert status="danger" accent="primary">You have been successfully authenticated!</dy-alert>
      </dy-card-body>
    </dy-card>
  </div>
</div>
