<div class="row">
  <div class="col-md-12 col-lg-6 col-xxxl-4">
    <dy-card>
      <dy-card-header>Tooltip With Icon</dy-card-header>
      <dy-card-body>
        <button dyTooltip="This is a tooltip" dyTooltipIcon="home-outline" dyButton matRipple>Show Tooltip</button>
        <button dyTooltip="" dyTooltipIcon="alert-triangle" dyTooltipStatus="danger" dyButton matRipple>Show
          Tooltip</button>
      </dy-card-body>
    </dy-card>
  </div>

  <div class="col-md-12 col-lg-6 col-xxxl-4">
    <dy-card>
      <dy-card-header>Tooltip Placements</dy-card-header>
      <dy-card-body>
        <button dyTooltip="This is a tooltip" dyTooltipPlacement="top" dyButton matRipple>Top</button>
        <button dyTooltip="This is a tooltip" dyTooltipPlacement="right" dyButton matRipple>Right</button>
        <button dyTooltip="This is a tooltip" dyTooltipPlacement="bottom" dyButton matRipple>Bottom</button>
        <button dyTooltip="This is a tooltip" dyTooltipPlacement="left" dyButton matRipple>Left</button>
      </dy-card-body>
    </dy-card>
  </div>

  <div class="col-md-12 col-lg-6 col-xxxl-4">
    <dy-card>
      <dy-card-header>Colored Tooltips</dy-card-header>
      <dy-card-body>
        <button dyTooltip="This is a tooltip" dyTooltipPlacement="top" dyButton matRipple>Default</button>
        <button dyTooltip="This is a tooltip" dyTooltipPlacement="top" dyTooltipStatus="primary" dyButton
          matRipple>Primary</button>
        <button dyTooltip="This is a tooltip" dyTooltipPlacement="top" dyTooltipStatus="success" dyButton
          matRipple>Success</button>
        <button dyTooltip="This is a tooltip" dyTooltipPlacement="top" dyTooltipStatus="danger" dyButton
          matRipple>Danger</button>
        <button dyTooltip="This is a tooltip" dyTooltipPlacement="top" dyTooltipStatus="info" dyButton
          matRipple>Info</button>
        <button dyTooltip="This is a tooltip" dyTooltipPlacement="top" dyTooltipStatus="warning" dyButton
          matRipple>Warning</button>
      </dy-card-body>
    </dy-card>
  </div>
</div>
