<div class="row">
  <div class="col-md-12 col-lg-6 col-xxxl-3">
    <dy-card>
      <dy-card-header>Open Dialog</dy-card-header>
      <dy-card-body>
        <button dyButton matRipple (click)="open()">Open Dialog with component</button>

        <button dyButton matRipple (click)="open2(dialog)">Open Dialog with template</button>
      </dy-card-body>
    </dy-card>
  </div>

  <div class="col-md-12 col-lg-6 col-xxxl-3">
    <dy-card>
      <dy-card-header>Open Without Backdrop</dy-card-header>
      <dy-card-body>
        <button dyButton matRipple (click)="open()">Open Dialog with backdrop</button>

        <button dyButton matRipple (click)="openWithoutBackdrop(dialog)">Open Dialog without backdrop</button>
      </dy-card-body>
    </dy-card>
  </div>

  <div class="col-md-12 col-lg-6 col-xxxl-3">
    <dy-card>
      <dy-card-header>Open Without Esc Close</dy-card-header>
      <dy-card-body>
        <button dyButton matRipple (click)="open()">Open Dialog with esc close</button>

        <button dyButton matRipple (click)="openWithoutEscClose(dialog)">Open Dialog without esc close</button>
      </dy-card-body>
    </dy-card>
  </div>

  <div class="col-md-12 col-lg-6 col-xxxl-3">
    <dy-card>
      <dy-card-header>Open Without Backdrop Click</dy-card-header>
      <dy-card-body>
        <button dyButton matRipple (click)="open()">Open Dialog with backdrop click</button>

        <button dyButton matRipple (click)="openWithoutBackdropClick(dialog)">Open without backdrop click</button>
      </dy-card-body>
    </dy-card>
  </div>

  <div class="col-md-12 col-lg-6 col-xxxl-3">
    <dy-card class="form-input-card">
      <dy-card-header>Return Result From Dialog</dy-card-header>
      <dy-card-body class="result-from-dialog">
        <button dyButton matRipple (click)="open3()">Enter Name</button>
        <br>
        <h3 class="title">Names:</h3>
        <ul>
          <li *ngFor="let name of names">{{ name }}</li>
        </ul>
      </dy-card-body>
    </dy-card>
  </div>
</div>

<ng-template #dialog let-data let-ref="dialogRef">
  <dy-card>
    <dy-card-header>Template Dialog</dy-card-header>
    <dy-card-body>{{ data }}</dy-card-body>
    <dy-card-footer>
      <button dyButton matRipple (click)="ref.close()">Close Dialog</button>
    </dy-card-footer>
  </dy-card>
</ng-template>
