<dy-card size="medium">
  <dy-card-body>
    <span class="h3 location">纽约</span>
    <span class="date">Mon 29 May</span>

    <div class="today">
      <span class="today-temperature h1">20&deg;</span>
      <dy-icon icon="sun-outline" pack="eva" class="today-icon"></dy-icon>
    </div>

    <div class="today-details">
      <div class="parameter">
        <span class="caption parameter-name">最大值</span>
        <span class="parameter-value">23&deg;</span>
      </div>
      <div class="parameter">
        <span class="caption parameter-name">最小</span>
        <span class="parameter-value">19&deg;</span>
      </div>
      <div class="parameter">
        <span class="caption parameter-name">风</span>
        <span class="parameter-value">4 km/h</span>
      </div>
      <div class="parameter">
        <span class="caption parameter-name">湿度</span>
        <span class="parameter-value">87%</span>
      </div>
    </div>

    <div class="weekly-forecast">
      <div class="day">
        <span class="caption">太阳</span>
        <i class="weather-icon ion-ios-cloudy-outline"></i>
        <span class="temperature">17&deg;</span>
      </div>
      <div class="day">
        <span class="caption">周一</span>
        <i class="weather-icon ion-ios-sunny-outline"></i>
        <span class="temperature">19&deg;</span>
      </div>
      <div class="day">
        <span class="caption">星期二</span>
        <i class="weather-icon ion-ios-rainy-outline"></i>
        <span class="temperature">22&deg;</span>
      </div>
      <div class="day">
        <span class="caption">结婚</span>
        <i class="weather-icon ion-ios-partlysunny-outline"></i>
        <span class="temperature">21&deg;</span>
      </div>
    </div>
  </dy-card-body>
</dy-card>
