@import "../../../../@theme/styles/themes";

@include dy-install-component() {
  text-align: center;
  flex-direction: column;

  .caption {
    display: block;
  }

  &.selected .caption,
  &:hover .caption {
    color: dy-theme(text-control-color);
  }

  &.bounding-month .caption {
    color: inherit;
  }
}
