@mixin dy-calendar-week-numbers-theme() {
  dy-calendar-week-numbers {
    background: dy-theme(calendar-weeknumber-background);
    font-size: dy-theme(calendar-weeknumber-text-font-size);
    font-weight: dy-theme(calendar-weeknumber-text-font-weight);
    line-height: dy-theme(calendar-weeknumber-text-line-height);
    color: dy-theme(calendar-weeknumber-text-color);
    padding-bottom: dy-theme(calendar-picker-padding-bottom);

    .sign-container {
      display: flex;
      flex-direction: column;
      $border: dy-theme(calendar-weeknumber-divider-width) solid
        dy-theme(calendar-weeknumber-divider-color);
      border-top: $border;
      border-bottom: $border;
      margin-bottom: dy-theme(calendar-picker-padding-top);
    }

    .sign,
    .week-number {
      display: flex;
      align-items: center;
      justify-content: center;
      height: dy-theme(calendar-weeknumber-height);
      width: dy-theme(calendar-weeknumber-width);
    }

    &.size-large {
      .sign,
      .week-number {
        height: dy-theme(calendar-weeknumber-large-height);
        width: dy-theme(calendar-weeknumber-large-width);
      }
    }
  }
}
