<div class="row">
  <div class="col-lg-6">
    <dy-card>
      <dy-card-header>饼图</dy-card-header>
      <dy-card-body>
        <ngx-echarts-pie></ngx-echarts-pie>
      </dy-card-body>
    </dy-card>
  </div>
  <div class="col-lg-6">
    <dy-card>
      <dy-card-header>柱状图</dy-card-header>
      <dy-card-body>
        <ngx-echarts-bar></ngx-echarts-bar>
      </dy-card-body>
    </dy-card>
  </div>
  <div class="col-lg-6">
    <dy-card>
      <dy-card-header>折线图</dy-card-header>
      <dy-card-body>
        <ngx-echarts-line></ngx-echarts-line>
      </dy-card-body>
    </dy-card>
  </div>
  <div class="col-lg-6">
    <dy-card>
      <dy-card-header>多x轴图</dy-card-header>
      <dy-card-body>
        <ngx-echarts-multiple-xaxis></ngx-echarts-multiple-xaxis>
      </dy-card-body>
    </dy-card>
  </div>
  <div class="col-lg-6">
    <dy-card>
      <dy-card-header>区域图</dy-card-header>
      <dy-card-body>
        <ngx-echarts-area-stack></ngx-echarts-area-stack>
      </dy-card-body>
    </dy-card>
  </div>
  <div class="col-lg-6">
    <dy-card>
      <dy-card-header>动态柱状图</dy-card-header>
      <dy-card-body>
        <ngx-echarts-bar-animation></ngx-echarts-bar-animation>
      </dy-card-body>
    </dy-card>
  </div>
  <div class="col-lg-6">
    <dy-card>
      <dy-card-header>雷达图</dy-card-header>
      <dy-card-body>
        <ngx-echarts-radar></ngx-echarts-radar>
      </dy-card-body>
    </dy-card>
  </div>
</div>
