<dy-card [dySpinner]="true" dySpinnerSize="tiny" dySpinnerStatus="primary">
  <dy-card-body>
    Some card content.
  </dy-card-body>
</dy-card>

<dy-card [dySpinner]="true" dySpinnerSize="small" dySpinnerStatus="primary">
  <dy-card-body>
    Some card content.
  </dy-card-body>
</dy-card>

<dy-card [dySpinner]="true" dySpinnerSize="medium" dySpinnerStatus="primary">
  <dy-card-body>
    Some card content.
  </dy-card-body>
</dy-card>

<dy-card [dySpinner]="true" dySpinnerSize="large" dySpinnerStatus="primary">
  <dy-card-body>
    Some card content.
  </dy-card-body>
</dy-card>

<dy-card [dySpinner]="true" dySpinnerSize="giant" dySpinnerStatus="primary">
  <dy-card-body>
    Some card content.
  </dy-card-body>
</dy-card>
